<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postulación Rechazada</title>
  </head>
  <body>
    <p>Hola {{name}}.</p>
    <p>Muchas gracias por haber postulado al cargo de {{job}}.</p>
    <p>
      Te cuento que en esta oportunidad, nuestro cliente optó por avanzar con
      otros candidatos. De todas formas, nos interesa dejar guardado tu video
      para que así te podamos considerar en futuros procesos que calcen con tu
      experiencia.
    </p>
    <p>
      Recuerda que en cualquier momento, puedes eliminar tus antecedentes (CV y
      video) de nuestra plataforma, en el caso de que no desees seguir vinculado
      a <strong>Jobfitter</strong>.
    </p>
    <p>¡Ojalá no sea así! Creemos que eres un buen candidato.</p>
    <p>Saludos!</p>
  </body>
</html>
