<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postulación Rechazada</title>
  </head>
  <body>
    <p>Hola {{name}}.</p>
    <p>Muchas gracias por haber postulado al cargo de {{job}}.</p>
    <p>
      Te cuento que en esta oportunidad, nuestro cliente optó por avanzar con
      otros candidatos. De todas formas, nos interesa seguir conectados para que
      en el futuro, te podamos considerar en otros procesos de búsqueda que
      calcen con tu experiencia.
    </p>
    <p>Saludos!</p>
  </body>
</html>
