<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Postulación Aceptada</title>
  </head>
  <body>
    <p>Hola {{name}}.</p>
    <p>
      Hemos recibido tu postulación para el cargo de {{job}}. Creemos que se
      ajusta bien a lo que nuestro cliente está buscando. Por esa razón, te
      queremos invitar a la siguiente etapa del proceso. Para ello, deberás
      enviar un breve video de presentación personal.
    </p>

    <p>Deberás considerar:</p>
    <ul>
      <li>
        Debe ser un video breve, sencillo y espontáneo. Ideal que no exceda los
        3 minutos.
      </li>
      <li>
        Si pesa más de 50MB, trata de comprimirlo, de lo contrario podríamos
        tener dificultades para reproducirlo.
      </li>
      <li>
        Cuando lo tengas listo, súbelo a nuestra plataforma en
        <a href="{{videoUrl}}">este enlace</a>.
      </li>
    </ul>

    <p>En el video deberás responder lo siguiente:</p>
    <ol>
      <li>Resume tu experiencia en relación al cargo.</li>
      <li>Describe tu ambiente de trabajo ideal.</li>
      <li>¿Cómo te describirían tus compañeros?</li>
    </ol>
    <p>
      Tienes un plazo de 2 días hábiles para subir tu video y recuerda que
      puedes comunicarte con nosotros cuando quieras, a través de este mismo
      correo.
    </p>
    <p>Esperamos tu video.</p>
    <p>Que estés bien!</p>
  </body>
</html>
