{{!-- SES Templates use Handlebars --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- The title is used as the subject --}}
    <title>Mensaje de ejemplo</title>
  </head>

  <body>
    <p>Hola <strong>{{name}}</strong>,</p>
    <p>Esperamos que este mensaje te encuentre bien.</p>
    <p>Que estés bien!</p>
  </body>
</html>
