<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />

    <!-- The title is used as the subject -->
    <title>Tu código de verificación</title>

    <!-- Styles will be inlined -->
    <style>
      body {
        text-align: center;
      }

      p.verification {
        font-weight: bold;
      }

      p.verification code {
        padding: 0.5em;
        display: block;
      }
    </style>
  </head>

  <body>
    <h2>Este es tu código de verificación</h2>
    <p>Debes copiar este código e ingresarlo en la aplicación:</p>
    <p class="verification">
      <code>{####}</code>
    </p>
    <p>Luego se te pedirá crear una nueva clave.</p>
    <p>El código expira después de 24 horas.</p>
    <hr />
    <p>
      <em>
        Si tu no solicitaste este código, por favor omite este mensaje y ponte
        en contacto con nosotros.
      </em>
    </p>
  </body>
</html>
