<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a Jobfitter</title>
  </head>
  <body>
    <p>¡Gracias por registrarte en Jobfitter!</p>
    <p>
      Para terminar el registro, dirígete a
      <a href="${self:custom.stages.${opt:stage}.appOrigin}">Jobfitter</a> e
      ingresa como empresa al final de la página.
    </p>
    <p>Deberás introducir tu email y la siguiente clave temporal:</p>
    <pre style="text-align: center">
      <code style="display: none">{username}</code>
      <code>{####}</code>
    </pre>
    <p>Luego se te pedirá cambiar la contraseña por una definitiva.</p>
    <p>
      <strong>Recuerda:</strong> la clave temporal expira después de 7 días.
    </p>
    <hr />
    <p>Bienvenido!</p>
    <p>Equipo Jobfitter</p>
  </body>
</html>
